<html>
<head>
<script type="text/JavaScript">
<!--
function timedRefresh(timeoutPeriod) {
	setTimeout("location.reload(true);",timeoutPeriod);
}
//   -->
</script>
</head>
<body onload="JavaScript:timedRefresh(50000);">
<table border="1" width ="100%" bgcolor=#A9E2F3 >
  <tr>
    <th width="10%">Owner</th>
    <th width="90%">Challenge</th>
  </tr>
 
<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.text %></td>
  </tr>
<% end %>
</table>
</body>
</html>
