<html>
<head>
<META HTTP-EQUIV="refresh" CONTENT="50;URL=/posts/challenges.html">
</head>
<body>
<table border="1" width ="100%" bgcolor=#D8F6CE >
  <tr>
    <th width="10%">Owner</th>
    <th width="90%">Succes</th>
  </tr>
 
<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.text %></td>
  </tr>
<% end %>
</table>
</body>
</html>
