table{
                width:100%;
                border-collapse:collapse;
        }
        td{         
                padding:7px; border:#000000 1px solid;
        }
        /* provide some minimal visual accomodation for IE8 and below */
        tr{
                background: #A3DB8D;
        }
        /*  Define the background color for all the ODD background rows  */
        tr:nth-child(odd){         
                background: #A3DB8D;
        }
        /*  Define the background color for all the EVEN background rows  */
        tr:nth-child(even){
                background: #D8F6CE;
        }
body{
background-color: black;
}
